.modal {
    position: fixed;
    inset: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
  .modal-content{
    display: grid;
    justify-items: end;
  }
  .modal-main {
    border-radius: 10px;
    position:fixed;
    background: white;
    /* width: 80%; */
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  .modal-content img{
    width: 100%;
    border-radius: 10px;
  }
  .btn-close {
    position: fixed;
    top: -10%;
    right: 2%;
    margin: 0;
    border: 0;
    padding: 0;
    background: #191d239e;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 150ms;
  }
  .btn-close .icon-cross {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    position: relative;
    width: 40px;
    height: 40px;
  }
  .btn-close .icon-cross:before, .btn-close .icon-cross:after {
    content: "";
    position: absolute;
    top: 17px;
    left: 0;
    right: 0;
    height: 6px;
    background: #fff;
    border-radius: 6px;
  }
  .btn-close .icon-cross:before {
    transform: rotate(45deg);
  }
  .btn-close .icon-cross:after {
    transform: rotate(-45deg);
  }
  .btn-close .icon-cross span {
    display: block;
  }
  .btn-close:hover, .btn-close:focus {
    transform: rotateZ(90deg);
    background: #050505c0;
  }
  .visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }