.footer {
    align-items: center;
    background-color: #2d2d32e6;
    bottom: 0;
    color: white;
    display: flex;
    font-size: 13px;
    gap: 10px;
    justify-content: center;
    left: 0;
    position: fixed;
    width: 100%;
}

.socialmedia {
    display: flex;
    max-width: 80px;
    gap: 10px;
}
.socialmedia a svg{
    color: white;
    font-size: xxx-large;
}
.socialmedia a svg:hover{
    color: rgb(183, 180, 180);

}
