*{
  font-family: 'Roboto', sans-serif;
}
.content-app{
  position: relative;
  bottom: 41px;
}

body {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right,  #141E30,#243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 60px;
}

input {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(97, 32, 158);
  color: black;
  font-size: 1.2rem;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}
h1 {
  color: #C69749;
}

h2 {
  color: #C69749;
  font-size: 1.5rem;
}

h3 {
  color: #735F32;
  font-size: 3rem;
  margin-bottom: 5px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.card {
  border-radius: 10px;
  box-shadow: 6px 2px 11px 0px rgb(252 252 252 / 30%);
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  display: flex;

  justify-content: space-around;
}

.card:hover img {
  opacity: 0.8;
}

.card img {
  border-radius: 10px;
  display: flex;
  height: 315px;
  object-fit: cover;
  transition: opacity 0.3s;
}

.card-footer {
  gap: 17px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  color: white;
  display: flex;
  justify-content: space-evenly;
  left: 0;
  opacity: 0;
  padding: 8px 0px;
  position: absolute;
  transition: opacity 0.3s;
  width: 100%;
  flex-wrap: wrap;
}
.card:hover  .card-footer  {
  opacity: 1;
}
.card-footer span {
  cursor: pointer;
}
.card-footer span {
  text-decoration: underline;
}
.card-grid {
  background-color: var(--lemon-chiffon);
}

/* .card {
  background-color: var(--electric-blue);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
} */
.card:hover img {
  opacity: 0.8;
}
.card-footer span {
  color: white;
}
.card-footer span svg {
  height: 1.5em;
}
.card-footer-icons{
  display: flex;
  gap: 33px;
}
.card p{
  color: #C69749;
}

.search-input {
  width: 35%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 8px;
}

.search-icon {
  cursor: pointer;
  color:  #C69749;
  font-size: 23px;
}
.search-icon:hover {
  color:  #a06c19;
}

@media screen and (max-width: 768px) {
  .search-input {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .search-input {
    font-size: 12px;
  }
}
